<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="admin.coach.panwar.com.coachadmin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".OptionActivity"
            android:label="@string/title_activity_option"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:parentActivityName=".OptionActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="admin.coach.panwar.com.coachadmin.OptionActivity" />
        </activity>
        <activity
            android:name=".AddTeam"
            android:label="@string/title_activity_add_team"
            android:theme="@style/Widget.AppCompat.ActionBar" />
        <activity
            android:name=".NewsUpdate"
            android:label="@string/title_activity_news_update"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".addnews"
            android:label="@string/title_activity_addnews"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main3Activity"
            android:label="@string/title_activity_main3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewsList"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" />
        <activity
            android:name=".AddNewTeam"
            android:label="@string/title_activity_add_new_team"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FinalTeam"
            android:label="@string/title_activity_final_team"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DeleteTeam"
            android:label="@string/title_activity_delete_team"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DeleteNews"
            android:label="@string/title_activity_delete_news"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>